<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard - Computer Zone</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header>
    <h1>Student Dashboard</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/courses">Courses</a>
      <a href="/join">Join</a>
    </nav>
  </header>

  <main>
    <section class="container">
      <h2>List of Enrolled Students</h2>
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Course</th>
          <th>Joined On</th>
        </tr>
        {% for student in students %}
        <tr>
          <td>{{ student[0] }}</td>
          <td>{{ student[1] }}</td>
          <td>{{ student[2] }}</td>
          <td>{{ student[3] }}</td>
          <td>{{ student[4] }}</td>
          <td>{{ student[5] }}</td>
        </tr>
        {% endfor %}
      </table>
    </section>
  </main>
</body>
</html>
